# Python
backend/venv/
backend/__pycache__/
*.pyc

# Environment
backend/.env

# SQLite
backend/*.db

# Uploads
backend/uploads/
backend/cleaned/
backend/cleaned_datasets/

# Node
frontend/frontend/node_modules/
frontend/frontend/dist/

# OS
.DS_Store
Thumbs.db